<% if user_signed_in? %>
<% if current_user.email == 'srizkallah@comcast.net' or current_user.email == 'aheine@olin.edu' %>

	<div class="heading"><h1>Plugged In Contacts</h1><br>

	<h2><%= link_to "Contacts", others_path %></h2></div>

	<div id="other_list">
	<table class = "pretty">
<tr><th>First Name</th><th>Last Name</th><th>Email</th><th></th></tr>
	<% @others.each do |other| %>

<tr>
	<td> <%= other.first %></td>
	<td> <%= other.last %></td>
	<td> <%= other.home_email %></td>

	<td><%= link_to 'Show', other %>      
	<%= link_to 'Edit', edit_other_path(other) %>
        <%= link_to 'Destroy', other, :confirm => 'Are you sure?', :method => :delete %></td></tr>
	<% end %>
</table>




	
	</div>
	<br />

	<%= link_to 'New Contact', new_other_path %>

	
	<div id="user_nav">

		Signed in as <%= current_user.email %>.  Not You?
		<%= link_to "Sign out", destroy_user_session_path %>
<br>


</div>
<% else %>
	<div class = 'error'>
	<p> This page does not exist </p>
	</div>
<% end %>
<% end %>



