<% if user_signed_in? %>
<% else %>
<h1> Thank you for your Interest in Plugged In </h1><br>

<% end %>
<h2> Contact Info </h2>
<p>
  <b>First:</b>
  <%= @other.first %>
</p>

<p>
  <b>Last:</b>
  <%= @other.last %>
</p>

<p>
  <b>Job:</b>
  <%= @other.job %>
</p>

<p>
  <b>Organization:</b>
  <%= @other.organization %>
</p>

<p>
  <b>Work phone:</b>
  <%= @other.work_phone %>
</p>

<p>
  <b>Mobile phone:</b>
  <%= @other.mobile_phone %>
</p>

<p>
  <b>Home phone:</b>
  <%= @other.home_phone %>
</p>

<p>
  <b>Fax:</b>
  <%= @other.fax %>
</p>

<p>
  <b>Work email:</b>
  <%= @other.work_email %>
</p>

<p>
  <b>Home email:</b>
  <%= @other.home_email %>
</p>

<p>
  <b>Address1:</b>
  <%= @other.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @other.address2 %>
</p>

<p>
  <b>Address3:</b>
  <%= @other.address3 %>
</p>

<p>
  <b>City:</b>
  <%= @other.city %>
</p>

<p>
  <b>State:</b>
  <%= @other.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @other.zip %>
</p>

<p>
  <b>Country:</b>
  <%= @other.country %>
</p>

<p>
  <b>Work address1:</b>
  <%= @other.work_address1 %>
</p>

<p>
  <b>Work address2:</b>
  <%= @other.work_address2 %>
</p>

<p>
  <b>Work address3:</b>
  <%= @other.work_address3 %>
</p>

<p>
  <b>Work city:</b>
  <%= @other.work_city %>
</p>

<p>
  <b>Work state:</b>
  <%= @other.work_state %>
</p>

<p>
  <b>Work zip:</b>
  <%= @other.work_zip %>
</p>

<p>
  <b>Work country:</b>
  <%= @other.work_country %>
</p>

<p>
  <b>Notes:</b>
  <%= @other.notes %>
</p>

<p>
  <b>Fundraiser:</b>
  <%= @other.fundraiser %>
</p>

<p>
  <b>Board member:</b>
  <%= @other.board_member %>
</p>

<p>
  <b>Community contact:</b>
  <%= @other.community_contact %>
</p>

<p>
  <b>Competition:</b>
  <%= @other.competition %>
</p>

<p>
  <b>Consultant:</b>
  <%= @other.consultant %>
</p>

<p>
  <b>Cross cultural:</b>
  <%= @other.cross_cultural %>
</p>

<p>
  <b>Donor:</b>
  <%= @other.donor %>
</p>

<p>
  <b>Foundation:</b>
  <%= @other.foundation %>
</p>

<p>
  <b>Grantwriter:</b>
  <%= @other.grantwriter %>
</p>

<p>
  <b>Music contact:</b>
  <%= @other.music_contact %>
</p>

<p>
  <b>Teacher:</b>
  <%= @other.teacher %>
</p>

<p>
  <b>Raised money for:</b>
  <%= @other.raised_money_for %>
</p>

<p>
  <b>Performed for:</b>
  <%= @other.performed_for %>
</p>

<p>
  <b>Partner:</b>
  <%= @other.partner %>
</p>

<p>
  <b>Professional:</b>
  <%= @other.professional %>
</p>

<p>
  <b>Plugged in teacher:</b>
  <%= @other.plugged_in_teacher %>
</p>

<p>
  <b>Publicity:</b>
  <%= @other.publicity %>
</p>

<p>
  <b>Speaker:</b>
  <%= @other.speaker %>
</p>

<p>
  <b>Staff:</b>
  <%= @other.staff %>
</p>

<p>
  <b>Tech:</b>
  <%= @other.tech %>
</p>

<p>
  <b>Venue:</b>
  <%= @other.venue %>
</p>

<p>
  <b>Volunteer:</b>
  <%= @other.volunteer %>
</p>

<p>
  <b>Youth arts nonprofit:</b>
  <%= @other.youth_arts_nonprofit %>
</p>

<% if user_signed_in? %>
<% if current_user.email == 'srizkallah@comcast.net' or current_user.email == 'aheine@olin.edu' %>

<%= link_to 'Edit', edit_other_path(@other) %> |
<%= link_to 'Back', others_path %>
<% end %>
<% end %>
