<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "First Name*" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Last Name*" %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label "Address*" %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label "E-mail*" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :home_phone %><br />
    <%= f.text_field :home_phone %>
  </div>
  <div class="field">
    <%= f.label :cell %><br />
    <%= f.text_field :cell %>
  </div>
  <div class="field">
    <%= f.label :dad_work %><br />
    <%= f.text_field :dad_work %>
  </div>
  <div class="field">
    <%= f.label :mom_work %><br />
    <%= f.text_field :mom_work %>
  </div>
  <div class="field">
    <%= f.label :dad_cell %><br />
    <%= f.text_field :dad_cell %>
  </div>
  <div class="field">
    <%= f.label :mom_cell %><br />
    <%= f.text_field :mom_cell %>
  </div>
  <div class="field">
    <%= f.label "Date of Birth (mm/dd/yyyy)*" %><br />
    <%= f.text_field :date_of_birth %>
  </div>
  <div class="field">
    <%= f.label :instrument %><br />
    <%= f.text_field :instrument %>
  </div>
  

  
  <div class="field">
    <%= f.label :parent_names %><br />
    <%= f.text_field :parent_names %>
  </div>
  
<% if user_signed_in? %>
<% if current_user.email == 'srizkallah@comcast.net' or current_user.email == 'aheine@olin.edu' %>
	  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_field :notes %>
  </div>
 <% end %>
 <% end %>
  
  <div class="actions">
    <%= f.submit "Register"%>
  </div>
<% end %>
