<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @student.name %>
</p>

<p>
  <b>Instrument:</b>
  <%= @student.instrument %>
</p>

<p>
  <b>Address:</b>
  <%= @student.address %>
</p>

<p>
  <b>Town:</b>
  <%= @student.town %>
</p>

<p>
  <b>Zip:</b>
  <%= @student.zip %>
</p>

<p>
  <b>Home phone:</b>
  <%= @student.home_phone %>
</p>

<p>
  <b>Cell:</b>
  <%= @student.cell %>
</p>

<p>
  <b>Dad work:</b>
  <%= @student.dad_work %>
</p>

<p>
  <b>Mom work:</b>
  <%= @student.mom_work %>
</p>

<p>
  <b>Dad cell:</b>
  <%= @student.dad_cell %>
</p>

<p>
  <b>Mom cell:</b>
  <%= @student.mom_cell %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @student.date_of_birth %>
</p>

<p>
  <b>Age:</b>
  <%= @student.age %>
</p>

<p>
  <b>Mom name:</b>
  <%= @student.mom_name %>
</p>

<p>
  <b>Dad name:</b>
  <%= @student.dad_name %>
</p>

<p>
  <b>Parent names:</b>
  <%= @student.parent_names %>
</p>

<p>
  <b>Email:</b>
  <%= @student.email %>
</p>

<p>
  <b>Last name:</b>
  <%= @student.last_name %>
</p>

<p>
  <b>Notes:</b>
  <%= @student.notes %>
</p>

<p>
  <b>Conditions:</b>
  <%= @student.conditions %>
</p>

<p>
  <b>Medications:</b>
  <%= @student.medications %>
</p>

<p>
  <b>Parent email:</b>
  <%= @student.parent_email %>
</p>

<p>
  <b>Experience:</b>
  <%= @student.experience %>
</p>

<p>
  <b>Lessons:</b>
  <%= @student.lessons %>
</p>

<p>
  <b>Favorite bands:</b>
  <%= @student.favorite_bands %>
</p>

<p>
  <b>Music style:</b>
  <%= @student.music_style %>
</p>

<p>
  <b>Write music:</b>
  <%= @student.write_music %>
</p>

<p>
  <b>Switching instruments:</b>
  <%= @student.switching_instruments %>
</p>

<p>
  <b>Additional info:</b>
  <%= @student.additional_info %>
</p>

<p>
  <b>Parent rep:</b>
  <%= @student.parent_rep %>
</p>

<p>
  <b>Concert volunteer:</b>
  <%= @student.concert_volunteer %>
</p>

<p>
  <b>Joining board:</b>
  <%= @student.joining_board %>
</p>

<p>
  <b>Donating scholarship:</b>
  <%= @student.donating_scholarship %>
</p>

<p>
  <b>Community engage:</b>
  <%= @student.community_engage %>
</p>

<p>
  <b>Jamathon:</b>
  <%= @student.jamathon %>
</p>

<p>
  <b>Spring fair:</b>
  <%= @student.spring_fair %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
