<%= form_for(@prospective) do |f| %>
  <% if @prospective.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prospective.errors.count, "error") %> prohibited this prospective from being saved:</h2>

      <ul>
      <% @prospective.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "First Name*" %><br />
    <%= f.text_field :first %>
  </div>
  <div class="field">
    <%= f.label "Last Name*" %><br />
    <%= f.text_field :last %>
  </div>
  <div class="field">
    <%= f.label "E-mail*" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label "Street 1*" %><br />
    <%= f.text_field :street1 %>
  </div>
  <div class="field">
    <%= f.label "Street 2" %><br />
    <%= f.text_field :string2 %>
  </div>
  <div class="field">
    <%= f.label "Street 3" %><br />
    <%= f.text_field :street3 %>
  </div>
  <div class="field">
    <%= f.label "City*" %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label "State*" %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label "Zip*" %><br />
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label "Phone*" %><br />
    <%= f.text_field :home_phone %>
  </div>
  <div class="field">
    <%= f.label :mobile_phone %><br />
    <%= f.text_field :mobile_phone %>
  </div>
  <div class="field">
    <%= f.label "Date of Birth*" %><br />
    <%= f.date_select :dob %>
  </div>
  <div class="field">
    <%= f.label "Instrument*" %><br />
    <%= f.text_field :instrument %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
