<% if user_signed_in? %>
<% if current_user.email == 'srizkallah@comcast.net' or current_user.email == 'aheine@olin.edu' %>

	<div class="heading"><h1>Plugged In Contacts</h1><br>
	<h2><%= link_to "Prospective Students", prospectives_path %></h2></div>

	<div id="prospective_list">

		<table class = "pretty">
	<tr><th>First </th> <th> Last </th> <th> Email </th> <th> </th></tr>
	<% @prospectives.each do |prospective| %>
	<tr>


		<td> <%= prospective.first %></td>
		<td> <%= prospective.last %></td>
		<td> <%= prospective.email %></td>

		<td><%= link_to 'Show', prospective %>      
		      <%= link_to 'Edit', edit_prospective_path(prospective) %>
		      <%= link_to 'Destroy', prospective, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>
	</table>

	
	</div>
	<br />

	<%= link_to 'New prospective', new_prospective_path %>

	
	<div id="user_nav">
	<% if user_signed_in? %>
		Signed in as <%= current_user.email %>.  Not You?
		<%= link_to "Sign out", destroy_user_session_path %>
	<% else %>
		<%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>.
	<% end %>
</div>
<% else %>
	<div class = 'error'>
	<p> This page does not exist </p>
	</div>
<% end %>
<% else %>
	<div class = 'error'>
	<p> This page does not exist </p>
	</div>
<% end %>
