<!DOCTYPE html>
<html>
<head>
  <title>Pluggedin4</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

<div id="header">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
   
  <% end %>
</div>





</body>
</html>
